<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>finder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>/pages/validator.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>BrokenLinkValidator</display-name>
    <servlet-name>BrokenLinkValidator</servlet-name>
    <servlet-class>com.finder.servlets.BrokenLinkValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrokenLinkValidator</servlet-name>
    <url-pattern>/BrokenLinkValidator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndividualValidator</display-name>
    <servlet-name>IndividualValidator</servlet-name>
    <servlet-class>com.finder.servlets.IndividualValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualValidator</servlet-name>
    <url-pattern>/IndividualValidator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadExcel</display-name>
    <servlet-name>DownloadExcel</servlet-name>
    <servlet-class>com.finder.servlets.DownloadExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadExcel</servlet-name>
    <url-pattern>/DownloadExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refresh</display-name>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.finder.servlets.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkValidatorServlet</display-name>
    <servlet-name>LinkValidatorServlet</servlet-name>
    <servlet-class>com.finder.servlets.LinkValidatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkValidatorServlet</servlet-name>
    <url-pattern>/LinkValidatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgressReportServlet</display-name>
    <servlet-name>ProgressReportServlet</servlet-name>
    <servlet-class>com.finder.servlets.ProgressReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgressReportServlet</servlet-name>
    <url-pattern>/ProgressReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.finder.servlets.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.finder.servlets.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.finder.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/pages/account/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.finder.servlets.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegLinkValidatorServlet</display-name>
    <servlet-name>RegLinkValidatorServlet</servlet-name>
    <servlet-class>com.finder.servlets.RegLinkValidatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegLinkValidatorServlet</servlet-name>
    <url-pattern>/RegLinkValidatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportViewerServlet</display-name>
    <servlet-name>ReportViewerServlet</servlet-name>
    <servlet-class>com.finder.servlets.ReportViewerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportViewerServlet</servlet-name>
    <url-pattern>/ReportViewerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidationFilter</display-name>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>com.finder.filter.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/pages/login.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/pages/signup.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeletionServlet</display-name>
    <servlet-name>DeletionServlet</servlet-name>
    <servlet-class>com.finder.servlets.DeletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletionServlet</servlet-name>
    <url-pattern>/DeletionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailVerificationServlet</display-name>
    <servlet-name>EmailVerificationServlet</servlet-name>
    <servlet-class>com.finder.servlets.EmailVerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailVerificationServlet</servlet-name>
    <url-pattern>/EmailVerificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountUpdationServlet</display-name>
    <servlet-name>AccountUpdationServlet</servlet-name>
    <servlet-class>com.finder.servlets.AccountUpdationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUpdationServlet</servlet-name>
    <url-pattern>/AccountUpdationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.finder.servlets.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>